<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? @page_title : "Welcome"%> | The BookStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/main' %>
    <section id="main_page">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
          <%= yield %>
          </div>
          <div class="col-md-4">
            <h1>test</h1>
          </div>
          </div>
      </div>
    </section>

    <footer id="footer_page">

      <div class="container">
      <p>Copyrights &copy; 2018 All Rights Reserved by Arthur Truong</p>
      </div>
    </footer>


  </body>
</html>
